
html {
    font-size: 100px
}

@media screen and (max-width: 360px) {
    html {
        font-size: 90px
    }
}

body {
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: arial, sans-serif
    overflow-x: hidden;
	background: #fff;
}

body * {
    padding: 0;
    margin: 0;
    font-size: .16rem
}

body a {
    text-decoration: none
}

li{
	list-style: none;
	
}

a{
	text-decoration: none;
}
/* 顶部导航 */
.nav{
	position: fixed;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: #3e98f0;
	z-index: 100;
}
/*导航头*/
.nav-header{
	position: relative;
}
.header-container{
	/*overflow: hidden;*/
	height: 48px;
	width: 100%;
	border-bottom: 1px solid #5dabf0;
	position: relative;
	background: #3e98f0 url(https://gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/n/nvn/static/news/imgs/bg-news-logo_344ce44.png) no-repeat;
    background-position: center 10px;
    background-size: 65px auto;
}


.header-container a{
	width: 34px;
    height: 100%;
    background: url(https://gss0.bdstatic.com/5foIcy0a2gI2n2jgoY3K/n/nvn/static/news/imgs/icon-bg_6e9bc53.png) no-repeat;
    background-size: 40px 500px;
}
.header-container .baidu-icon{
	float: left;
	background-position: center 6px;
	margin-left: 8px;

}

.header-container .profile-icon{
	float: left;
	background-position: center -461px;
	margin-left: 10px;
}

.header-container .subscribe-icon{
	float: right;
	background-position: center -105px;
	margin-right: 8px;

}

.header-container .search-icon{
	float: right;
	background-position: center -160px;
	margin-right: 10px;
}

/*导航分类*/
.nav-menu{
	
	overflow: hidden;
	margin: 0px;
}

.nav-menu >li{
	float: left;
	height: 40px;
	margin: 0px 12px;
}

.nav-menu .link{
	display: block;
	color: #c2daf8;
	padding: 0px 4px;
	line-height: 41px;
}

.nav-menu .selected .link{
	color: #fff!important;
    border-bottom: 2px solid #fff!important;
    height: 38px!important;
}

/* 新闻列表 */
.item-container{
	overflow:hidden;
	padding: 8.5px  17px 10px;
	border-bottom: 1px solid #f5f5f5;
	/* background: red; */
	box-sizing: border-box;
}

/*.list-main{
	margin-right:10px;
}*/
.list-main .tittle{
	font-size:.18rem;
	line-height: .26rem;
	color:#333;
	max-height: .52rem;
	overflow: hidden;
}

.list-bottom{
	margin-top:5px;
}

.list-bottom .tip-time{
	display:inline-block;
	color:#999;
	font-size:.13rem;
	margin-right:5px;
	font-weight:400;
}

.list-bottom .tip-type{
	display:inline-block;
	color:#ef3f41;
	font-size:.04rem;
	font-weight:400;
	border:.1px solid #efb9b9;
}



.list-img{
	float:left;
	margin-right:10px;
	width:33.33%;
	text-align:center;
	overflow:hidden;
	background-color:#f4f7f9;
	vertical-align:middle;
}

.list-img img{
	height:auto;
	width:100%;
	vertical-align:middle;
}


.list-imgs{
	width:100%;
	overflow:hidden;
}

.list-img-wrap{
	width:33.33%;
	overflow:hidden;
	/*vertical-align:middle;*/
	float:left;
	margin-top:10px;
}

.list-img-wrap img{
	display: block;
	width: 100%;
	/* height: auto; */
}

.top-hide{
	height: 87px;
	width: 100%;
}

/*滚动条*/
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;

}
.swipe-wrap {
    overflow: hidden;
    position: relative;

}
.swipe-wrap > div {
    float: left;
    width: 100 % ;
    position: relative;
    
}

.swipe-wrap > div img{
	display: block;
	height:auto;
	width:100%;
	min-height: 187px;
	vertical-align: middle;
}

.swipe-wrap div{
	 height: 2rem;
}

.swipe-wrap > div p{
	position: absolute;
	left: 0px;
	bottom: 0;
	height: 60px;
	padding: 0 17px;
	text-align: left|bottom;
	color: #fff;
	font-size:.18rem;
	width: 100%;
	background-image: linear-gradient(180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);
}

.swipe-wrap > div span{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	font-size: .18rem;
}


/* 详情页 */
.deatil-wrap{
	
	background-color: #f5f5f5;
}
.deatil-wrap>div{
	background-color: #f5f5f5;
}

.detail-container{
	padding: 24px;
	
}

.detail-container .conItem{
	margin-bottom: 20px;
}

.detail-container .conItem>p{
	color: #333;
	text-align: left;
	font-size: .18rem;
	line-height: 1.5;
}

.detail-container img{
	height:auto;
	width:100%;
	vertical-align:middle;
}


.detail-header{
	margin-bottom: .11rem;
}

.detail-header .tittle{
	text-align: left;
	
	color:#333;
	font-size:.24rem;
	font-weight: bold;
}

.detail-header .bottom{
	margin-top:5px;
}

.detail-header .tip-time{
	display:inline-block;
	color:#999;
	font-size:.12rem;
	margin-right:5px;
	font-weight:400;
}

.detail-header .tip-type{
	display:inline-block;
	color:#999;
	font-size:.12rem;
	margin-right:5px;
	font-weight:400;
}


/*今日热点新闻*/

.hot-scroll{
	height: 18px;
	overflow: hidden;
	position: relative;
	margin: 17px 0px;
	padding: 0px 17px;
}

.hot-scroll .hot-info{
	margin-top: 1px;
 	width: 24px;
    background-color: #e02f2f;
    color: #fff;
    text-align: center;
    line-height: 14px;
	padding-bottom: 3px;
}



.hot-scroll .hot-info>span{
	font-size: .1rem;
}


.hot-scroll >ul{

	position: absolute;
	left: 50px;
	top: 0px;
	transition: top 1.5s;
}
.hot-scroll li{
;
	height: 18px;
	line-height: 18px;
}
